<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title>SQL-Abfragen Ausführen</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container mt-4">
      <h1 class="mb-4">SQL-Abfragen Ausführen</h1>
      <form method="post" action="/query" enctype="multipart/form-data">
        <div class="form-group">
          <label for="sql">SQL-Abfrage (nur SELECT):</label>
          <textarea class="form-control" id="sql" name="sql" rows="4">{{ executed_query or "" }}</textarea>
        </div>
        <div class="form-group">
          <label for="db_file">Wähle eine Datenbankdatei (.db oder .xlsx):</label>
          <input type="file" class="form-control-file" id="db_file" name="db_file" accept=".db, .xlsx">
        </div>
        <button type="submit" class="btn btn-primary">Abfrage ausführen</button>
      </form>
      <br>
      <!-- Neuer Button für den .db Export -->
      <a href="/export_db" class="btn btn-secondary">Export .db</a>

      {% if query_result %}
      <hr>
      <h3>Ergebnisse</h3>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              {% for col in query_result.cols %}
              <th>{{ col }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for row in query_result.rows %}
            <tr>
              {% for col in query_result.cols %}
              <td>{{ row[col] }}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
